*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
}

:root {
    --maincolor: rgb(207, 165, 247);
    --action: rgb(49, 49, 49);
    --boxcolor: rgb(20, 18, 18);
}   

html {
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
}

/*Top bar menu*/
.menu {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

ul li a:hover {
    color: var(--maincolor);
    text-shadow: 0 0 10px var(--maincolor);
}

/*Home*/
#header {
    letter-spacing: 3px;
    margin-top: 10%;
    margin-left: 5%;
}

#header p {
    color: var(--maincolor);
    box-shadow: 0px 0px 10px var(--maincolor);
    box-sizing: content-box;
    width: 20%;
    padding: 5px;
    text-align: center;
}

#header h1 {
    color: white;
    font-size: 40px;
    transition: 0.5s;
    width: 30%;
    animation: SmartKey 5s linear infinite;
    animation-delay: 0s;
}

/*Mobile phone*/
#header img{
    position: absolute;
    right: 10%;
    top: 20%;
    height: 65%;
    display: flex;
    border-radius: 40px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 0 2px var(--maincolor);
    animation: shadowImg 5s linear infinite;
    animation-delay: 0s;
}

#camera {
    position: absolute;
    right: 10%;
    top: 21%;
    height: 2.3%;
    padding: 0 25px 0;
    margin: 0 75px 0;
    background: rgb(0, 0, 0);
    border-radius: 100px;
}

#camera-lense {
    position: absolute;
    right: 10%;
    top: 21.5%;
    width: 11px;
    height: 11px;
    margin: 0 80px 0;
    background: linear-gradient(rgb(2, 2, 53), rgb(71, 56, 114));
    border-radius: 50%;
    box-shadow: 0 0 2px var(--maincolor);
}

#clock {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    padding: 60px 42px 0;
    position: absolute;
    right: 10%;
    top: 30%;
    font-size: 50px;
    color: var(--maincolor);
}

#date {
    color: white;
    position: absolute;
    padding: 0 90px 0;
    right: 10%;
    top: 35%;
    font-size: 12px;
    color: var(--maincolor);
}

/*Details*/
#chip {
    color: white;
    position: absolute;
    text-align: center;
    top: 25%;
    right: 10%;
    padding: 0 42% 0 0;
    animation: opacity 1s linear;
}

#camPro {
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    padding: 0 42% 0 0;
    right: 10%;
    animation: opacity 1s linear;
}

#battery {
    color: white;
    position: absolute;
    text-align: center;
    top: 75%;
    right: 10%;
    animation: opacity 1s linear;
    padding: 0 43% 0 0;
}

@keyframes SmartKey {
    0%, 10%, 50% {
        color: white;
    }

    60%, 70%, 80% {
        color: var(--maincolor);
    }

    75%, 81% {
        color: var(--maincolor);
    }
}

@keyframes shadowImg {
    0%, 10%, 50% {
        box-shadow: 0 0 5px var(--maincolor);
    }

    60%, 70%, 80% {
        box-shadow: 0 0 10px var(--maincolor);
    }

    75%, 81% {
        box-shadow: 0 0 15px var(--maincolor);
    }
}

@keyframes opacity {
    0%, 10%, 20% {
        opacity: 0;
    }

    50%, 60% {
        opacity: 0.5;
    }

    71%, 80% {
        opacity: 1;
    }
}

/*Features*/
#features {
    color: white;
    position: absolute;
    top: 110%;
    left: 20%;
}

#intro span {
    color: var(--maincolor);
}

#imgDisplay {
    position: absolute;
    top: 10%;
    left: 575px;
    height: 35em;
    width: auto;
    opacity: 0.7;
}

/*Container*/
#container {
    display: none;
    position: absolute;
    top: 85px;
    left: 38.5em;
    width: 80%;
    height: 30px;
    background-color: var(--boxcolor);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--maincolor);
}

#container1 {
    display: none;
    position: absolute;
    top: 85px;
    left: 39.5em;
    width: 70%;
    height: 30px;
    background-color: var(--boxcolor);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--maincolor);
}

#container2 {
    display: none;
    position: absolute;
    top: 85px;
    left: 38.5em;
    width: 85%;
    height: 50px;
    background-color: var(--boxcolor);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--maincolor);
}

#container3 {
    display: none;
    position: absolute;
    top: 85px;
    left: 38em;
    width: 90%;
    height: 100px;
    background-color: var(--boxcolor);
    border-radius: 30px 30px;
    box-shadow: 0 0 10px var(--maincolor);
}

#container4 {
    display: none;
    position: absolute;
    top: 130px;
    left: 38em;
    width: 90%;
    height: 120px;
    background-color: white;
    border-radius: 30px 30px;
    box-shadow: 0 0 10px var(--maincolor);
    opacity: 0.7;
}

#container5 {
    display: none;
    position: absolute;
    top: 130px;
    left: 38em;
    width: 90%;
    height: 90px;
    background-color: var(--boxcolor);
    border-radius: 25px 25px;
    box-shadow: 0 0 10px var(--maincolor);
    opacity: 0.6;
}

/* Elements */
.display {
    opacity: 1;
}

#silent {
    display: none;
    position: absolute;
    top: 95px;
    left: 75em;
    width: 50px;
    height: fit-content;
    color: red;
    font-size: 10px;
}

#silent i {
    position: absolute;
    right: 16em;
}

#focus {
    display: none;
    position: absolute;
    top: 95px;
    left: 75em;
    width: 50px;
    height: fit-content;
    color: rgb(128, 107, 223);
    font-size: 10px;
}

#focus i {
    position: absolute;
    right: 14em;
}

#cam {
    display: none;
    position: absolute;
    top: 95px;
    left: 65em;
    font-size: 10px;
}

#flashlight {
    display: none;
    position: absolute;
    top: 95px;
    left: 65em;
    font-size: 10px;
}

#flashlight i {
    text-shadow: 0 0 10px white;
    border-radius: 100px;
}

#voice {
    display: none;
    position: absolute;
    top: 105px;
    left: 70em;
    color: red;
    font-size: 10px;
}

#voice i {
    position: absolute;
    left: -70px;
}

#voice #box {
    position: absolute;
    left: 87px;
    top: -3px;
    border-radius: 5px 5px;
    border: solid;
    width: 15px;
    height: 15px;
    background-color: red;
}

#voice #circle {
    position: absolute;
    left: 76.5px;
    top: -13.5px;
    display: block;
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

#translate {
    display: none;
    position: absolute;
    top: 100px;
    left: 63em;
    font-size: 10px;
}

#translate p {
    width: 120px;
}

#translate p span {
    font-size: smaller;
}

#french {
    color: rgb(49, 228, 228);
}

#line {
    display: block;
    width: 180px;
    height: 1px;
    border-radius: 50px;
    position: absolute;
    top: 39px;
    left: -5px;
    background-color: rgb(49, 228, 228);
    opacity: 0.2;
}

#boxLang {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 1px 1px;
    position: absolute;
    top: 55px;
    left: 150px;
    background-color: rgb(49, 228, 228);
}

#circleLang {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 47px;
    left: 142.5px;
    background-color: rgb(49, 228, 228);
    opacity: 0.2;
}

#magnifier {
    display: none;
    position: absolute;
    top: 95px;
    left: 645px;
    font-size: 10px;
}

#magImg {
    position: absolute;
    left: -20px;
    top: 32px;
    width: 180px;
    height: 130px;
    border-radius: 20px 20px;
}

#shortcut {
    display: none;
    font-size: 10px;
}

#shortcut p{
    position: absolute;
    top: 130px;
    right: -555px;
    width: 120px;
    color: rgb(116, 112, 112);
    border-radius: 20px 20px;
    background-color: white;
    padding: 20px;
}

#cursor {
    color: rgb(255, 196, 1);
    font-family: "Poppin";
}

#cancel {
    color: rgb(116, 112, 112);
    position: absolute;
    top: 210px;
    left: 635px;
    width: 60px;
    padding: 7px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(161, 156, 156);    
}

#done {
    position: absolute;
    top: 210px;
    left: 720px;
    background-color: rgb(255, 196, 1); 
    padding: 7px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
}

#shortcut i{
    position: absolute;
    top: 95px;
    left: 645px;
}

#accessibility {
    display: none;
    font-size: 10px;
}

#phrases {
    position: absolute;
    top: 140px;
    left: 620px;
    display: flex;
    padding: 8px;
    background-color: rgb(99, 91, 91);
    border-radius: 50px;
    font-family: 'Poppin', arial;
    text-align: center;
}

#contact {
    position: absolute;
    width: 135px;
    left: 625px;
    top: 175px;
}

#con {
    position: absolute;
    top: -6px;
    font-family: 'Poppin';
    font-size: large;
    left: 150px;
}

#cross {
    position: absolute;
    top: 140px;
    left: 780px;
    background-color: rgb(99, 91, 91);
    padding: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    font-family: 'Poppin', arial;
}
    
#access {
    position: absolute;
    left: 640px;
    top: 95px;
}

#keyboard {
    position: absolute;
    left: 775px;
    top: 95px;
}

/*Action*/
#action ul li i {
    opacity: 0.4;
    padding: 12px;
}

#action ul li {
    list-style: none;
    width: fit-content;
    text-align: left;
    text-justify: center;
    padding: 5px;
    height: fit-content;
    color: var(--action);
    transition: 0.5s;
    border-radius: 50px;
    font-size: medium;
    margin-bottom: 4px;
}

.line {
    width: 5px;
    height: 27em;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 23.5%;
    left: 80%;
    animation: display 5s linear infinite;
    animation-delay: 2s;
}

@keyframes display {
    0%, 10%, 50% {
        background-color: white;
    }

    60%, 70%, 80% {
        background-color: var(--maincolor);
    }

    75%, 81% {
        background-color: var(--maincolor);
    }
}

/* Help */
#help {
    color: white;
    position: absolute;
    top: 220%;
    left: 70px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#support, #information {
    flex-basis: 20%;
    justify-content: center;
    margin-left: 150px;
    margin-top: 20px;
    width: 300px;
    border: 2px solid white;
    padding: 50px;
    border-radius: 30px 30px;
    animation: borderbox 3s infinite linear;
    animation-delay: 2s;
}

#information p a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px var(--maincolor);
}

#support i, #information i {
    text-shadow: 0 0 5px var(--maincolor);
}

@keyframes borderbox {
    0%, 10%, 50% {
        border: 2px solid white;
    }

    60%, 70%, 80% {
        border: 2px solid var(--maincolor);
    }

    75%, 81% {
        border: 2px solid var(--maincolor);
    }
}

/* Blog */
#blog {
    position: absolute;
    top: 275%;
    left: 70px;
    color: white; 
}

.contain {
    display: flex;
    flex-wrap: wrap;
}

#A17 ul li, #CAMPRO ul li, #BAT ul li {
    list-style: none;
    text-align: left;
    margin-top: 10px;
}

#A17, #CAMPRO, #BAT {
    flex-basis: 22%;
    width: 300px;
    height: 500px;
    text-align: center;
    margin-left: 85px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 20px 20px;
}

#A17 {
    background-image: url(images/blogA17.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
    background-position-y: 500px;
    opacity: 0.5;
}

#A17:hover {
    background-size: 200px;
    background-position: center;
    box-shadow: 0 0 20px var(--maincolor);
    opacity: 1;
}

#CAMPRO {
    background-image: url(images/blogCamPro.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: 1s;
    background-position-y: 500px;
}

#CAMPRO:hover {
    background-size: 300px;
    background-position: center;
    box-shadow: 0 0 20px var(--maincolor);
    opacity: 1;
}

#BAT {
    background-image: url(images/blogCharge.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 500px;
    opacity: 0.5;
    transition: 1s;
}

#blogBAT {
    margin-top: 110px;
}

#BAT:hover {
    opacity: 1;
    box-shadow: 0 0 20px var(--maincolor);
    background-position: bottom;
}

/* Social Media */
#social {
    color: white;
    position: absolute;
    top: 380%;
    left: 70px;
}

#social p a i {
    font-size: 30px;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 250%;
    transition: 0.5s;
}

#social p a i:hover {
    color: var(--maincolor);
    transform: translateY(-5px);
}

#github {
    position: absolute;
    top: 26%;
    left: 280%;
}

#linkedin {
    position: absolute;
    top: 53.5%;
    left: 280%;
}

#portfolio {
    position: absolute;
    top: 82%;
    left: 280%;
}

#socialImg {
    position: absolute;
    top: 25%;
    left: 50%;
    width: fit-content;
    height: 350px;
    border-radius: 20px 20px;
}

/* Media */
#menu nav .fa-xmark, #menu nav .fa-bars {
    display: none;
}

@media only screen and (min-width: 410.5px) and (max-width: 600px) {
    /*Top bar menu*/
    #menu nav .fa-xmark {
        display: flex;
        font-size: 20px;
        flex-wrap: wrap;
        float: right;
        margin: 10px;
        text-align: center;
    }

    #menu nav .fa-bars {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    nav ul {
        width: 100%;
        background-color: var(--maincolor);
        position: fixed;
        top: -60px;
        margin-left: -40px;
        z-index: 2;
        transition: top 0.5s;
    }

    ul li a {
        font-size: 8px;
    }

    ul li a:hover {
        color: aqua;
    }
}

@media only screen and (max-width: 1100px) {
    /* Home */
    #header p {
        display: flex;
        font-size: 10px;
        width: 20%;
        flex-wrap: wrap;
        margin: 0 150px 0;
    }

    #header h1 {
        display: flex;
        font-size: 20px;
        width: 55%;
        flex-wrap: wrap;
        margin: 15px 115px 0;
    }

    /* Mobile phone */
    #header img {
        margin: 50px -20px 0 0;
    }

    #camera {
        margin: 55px 55px 0;
    }

    #camera-lense {
        margin: 55px 60px 0;
    }

    #clock {
        position: absolute;
        padding: 100px 25px 0;
    }

    #date {
        position: absolute;
        top: 290px;
        padding: 0 70px 0;
    }

    /* Details */
    #chip {
        margin: 60px 100px -180px;
        font-size: 10px;
    }

    #camPro {
        margin: 60px 100px -180px;
        font-size: 10px;
    }

    #battery {
        margin: 60px 85px -190px;
        font-size: 10px;
    }

    /* Features */
    #intro {
        font-size: 15px;
        margin-left: 10px;
        margin-top: 35px;
    }

    #action ul {
        position: absolute;
        left: -100px;
    }

    #action ul li {
        font-size: 10px;
    }

    .line {
        position: absolute;
        top: 165px;
        left: 50px;
        width: 1px;
        height: 380px;
    }

    #imgDisplay {
        position: absolute;
        top: 165px;
        left: 125px;
        width: auto;
        height: 25em;
    }

    /* Container */
    #container {
        position: absolute;
        top: 180px;
        left: 155px;
        width: 60%;
        height: 20px;
    }

    #container1 {
        position: absolute;
        top: 180px;
        left: 160px;
        width: 55%;
        height: 20px;
    }

    #container2 {
        position: absolute;
        top: 180px;
        left: 155px;
        width: 60%;
        height: 40px;
    }

    #container3 {
        position: absolute;
        top: 180px;
        left: 145px;
        width: 65%;
        height: 70px;
        border-radius: 20px 20px;
    }

    #container4 {
        position: absolute;
        top: 210px;
        left: 145px;
        width: 65%;
        height: 80%;
        border-radius: 20px 20px;
    }

    #container5 {
        position: absolute;
        top: 210px;
        left: 145px;
        width: 65%;
    }

    /* Elements */
    #silent {
        position: absolute;
        top: 185px;
        left: 265px;
        font-size: 9px;
    }

    #focus {
        position: absolute;
        top: 185px;
        left: 265px;
        font-size: 9px;
    }

    #cam {
        position: absolute;
        left: 170px;
        top: 185px;
        font-size: 9px;
    }

    #flashlight {
        position: absolute;
        left: 170px;
        top: 185px;
        font-size: 9px;
    }

    #voice {
        position: absolute;
        left: 215px;
        top: 195px;
        font-size: 9px;
    }

    #voice i {
        position: absolute;
        left: -50px;
    }

    #voice #box {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 3px 3px;
        left: 55px;
    }

    #voice #circle {
        position: absolute;
        left: 45px;
        width: 27px;
        height: 27px;
    }

    #translate {
        position: absolute;
        left: 160px;
        top: 180px;
    }

    #translate p {
        font-size: 9px;
    }

    #line {
        position: absolute;
        top: 35px;
        left: 0px;
        width: 120px;
    }

    #boxLang {
        position: absolute;
        top: 50px;
        left: 115px;
    }

    #circleLang {
        position: absolute;
        top: 42px;
        left: 107px;
    }

    #magnifier {
        position: absolute;
        left: 170px;
        top: 185px;
        font-size: 9px;
    }

    #magImg {
        position: absolute;
        width: 150px;
        height: 100px;
        top: 25px;
    }

    #shortcut {
        font-size: 9px;
    }

    #shortcut p {
        position: absolute;
        width: 90px;
        top: 205px;
        left: 156px; 

    }

    #cancel {
        position: absolute;
        top: 280px;
        left: 155px;
        width: 50px;
    }

    #done {
        position: absolute;
        top: 280px;
        left: 225px; 
        width: 50px;
    }

    #shortcut i {
        position: absolute;
        top: 185px;
        left: 170px;
    }

    #accessibility {
        font-size: 9px;
    }

    #phrases {
        position: absolute;
        top: 215px;
        left: 155px;
    }

    #contact {
        position: absolute;
        top: 250px;
        left: 155px;
    }

    #con {
        font-size: 20px;
        position: absolute;
        left: 120px;
    }

    #cross {
        position: absolute;
        top: 215px;
        left: 260px;
    }

    #access {
        position: absolute;
        top: 185px;
        left: 170px;
    }

    #keyboard {
        position: absolute;
        top: 185px;
        left: 270px;
    }

    /* Help */
    #help {
        position: absolute;
        top: 185%;
        left: 100px;
        margin-top: 200px;
    }

    #help h1 {
        margin-left: -15px;
    }

    #support, #information {
        flex-basis: 30%;
        margin: 20px 20px 0 0;
        width: 40px;
        height: 130px;
    }

    /* Blog */
    #blog {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 320%;
        width: 0;
    }

    #blog h1 {
        position: absolute;
        left: 100px;
    }

    #A17, #CAMPRO, #BAT {
        flex-basis: 100%;
        margin-top: 100px;
        margin-left: -15px;
    }

    /* Social Media */
    #social {
        margin-top: 1500px;
        margin-left: 50px;
    }

    #social h1 {
        width: 100%;
    }

    #socialImg {
        margin: 70px -130px 10px;
    }

    #github {
        position: absolute;
        top: 650%;
        left: 0;
        margin-left: -40px;
    }
    
    #linkedin {
        position: absolute;
        top: 650%;
        left: 58px;
    }
    
    #portfolio {
        position: absolute;
        top: 650%;
        left: 165px;
    }

    .fa-github {
        position: absolute;
        top: 560%;
        left: -267%;
    }

    .fa-linkedin {
        position: absolute;
        top: 560%;
        left: -209%;
    }

    .fa-info {
        position: absolute;
        top: 560%;
        left: -145%;
    }

}
